.DS_Store
.eslintrc
eslint.config.js
node_modules/
dist/
coverage/
*.log
*.tsbuildinfo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.pem
*.key
*.crt
.stylelintrc.json
readme.txt
LICENSE
*.zip