.other-stories {
    display: flex;
    gap: 1rem;
    @include tablet {
        flex-direction: column;
    }
    >div {
        flex: 1 1 0;
    }
    h2 {
        border-bottom: 4px solid var(--color-brand);
        span {
            background-color: var(--color-brand);
            color: var(--color-white);
            display: inline-block;
            padding: 2px;
        }
    }
    .item {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        a.media {
            height: 150px;
            max-width: 200px;
            min-width: 200px;
            overflow: hidden;
            img {
                @include positionImage();
                background-color: var(--color-grey);
                min-height: 100%;
                text-align: center; // when image broke, the alt text stays in the middle
                transition: .4s ease all;
            }
            &:hover,
            &:focus,
            &:active {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .text {
            h3 a {
                @include lineClaim(3);
                &:hover,
                &:focus,
                &:active {
                    color: var(--color-brand);
                }
            }
            .nav.meta {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                font-size: .875rem;
                margin-top: 1rem;
                a {
                    background-color: var(--color-grey);
                    border-radius: 4px;
                    display: block;
                    padding: 4px 12px;
                    text-decoration: none;
                    transition: .4s ease all;
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: var(--color-secondary);
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}

@include mobile {
    .other-stories {
        flex-direction: column;
        .item {
            .text {
                .nav.meta {
                    align-items: flex-start;
                    flex-direction: column;
                    font-size: .75rem;
                    gap: .5rem;
                    li {
                        line-height: 1.25;
                    }
                }
            }
        }
    }
}