.error-404 {
    .container {
        padding: 3rem 1rem;
        p.large {
            opacity: 0.49;
            margin-bottom: 15px;
            @include tablet {
                margin-bottom: 8px;
                font-size: 1rem;
            }
        }
        h1 {
            margin-bottom: 30px;
        }
    }
    .widget {
        ul {
            list-style: disc;
            padding-left: 2rem;
            li {
                margin-bottom: 12px;
            }
            a {
                &:hover,
                &:focus,
                &:active {
                    color: var(--color-brand);
                    text-decoration: underline;
                }
            }
        }
    }
    form.onpage-search {
        margin: 40px 0;
        max-width: 300px;
        .form-group {
            position: relative;
            width: 100%;
        }
        input {
            background-color: var(--color-light-green);
            padding: 10px 20px;
            width: 100%;
        }
        button {
            background-color: transparent;
            border: 0;
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
}

// Content Not Found
section.not-found {
    h1.page-title {
        font-size: 40px;
        line-height: 1.25;
        margin-bottom: 1rem;
        @include mobile {
            font-size: 24px;
        }
    }
    form.search {
        margin: 40px 0;
        max-width: 300px;
        .form-group {
            position: relative;
            width: 100%;
        }
        input {
            background-color: var(--color-light-green);
            padding: 10px 20px;
            width: 100%;
        }
        button {
            background-color: transparent;
            border: 0;
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
}