ul.filter-box {
    background-color: var(--color-white);
    border-radius: 8px;
    display: flex;
    list-style: none;
    margin-bottom: 30px;
    @include mobile {
        flex-direction: column;
    }
    li {
        background-color: var(--color-grey);
        color: var(--color-text);
        cursor: pointer;
        font-size: .9rem;
        padding: 5px 15px;
        &.checked {
            background-color: var(--color-brand);
            color: var(--color-white);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    .gallery {
        border: 1px dotted var(--color-secondary);
        border-radius: 5px;
        margin-bottom: 1rem;
        width: calc(33.3333% - .6667rem);
        transition: .3s ease all;
        &:last-child {
            margin-right: auto;
        }
        &:hover {
            border-color: var(--color-brand);
            .text h3 a {
                color: var(--color-brand);
            }
        }
        @include mobile {
            width: calc(50% - .5rem);
        }
        .gallery-wrapper {
            border-radius: 5px 5px 0 0;
            margin: -1px;
            position: relative;
            overflow: hidden;
            a {
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: .3s ease all;
                &:before {
                    background-color: var(--color-white);
                    opacity: .6;
                    content: "";
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -30px;
                    margin-top: -30px;
                    opacity: .5;
                    z-index: 3;
                    transition: .2s ease-in all;
                }
                &:after {
                    border-left: 18px solid var(--color-brand);
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -12px;
                    margin-left: -7.5px;
                    z-index: 4;
                }
                &:hover,
                &:focus,
                &:active {
                    &:before {
                        opacity: 1;
                    }
                    img {
                        transform: scale(1.2);
                    }
                    .overlay {
                        background-color: transparent;
                    }
                }
            }
            img {
                @include positionImage();
                border-radius: 5px 5px 0 0;
                height: 300px;
                max-height: 300px;
                min-height: 300px;
                transition: .3s ease all;
                @include mobile {
                    height: 200px;
                    max-height: 200px;
                    min-height: 200px;
                }
            }
            .overlay {
                @include overlay();
                transition: .3s ease all;
            }
        }
        .text {
            padding: 24px 12px;
            text-align: center;
            h3 {
                margin-bottom: 0;
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
}