:root {
    --color-brand: #0E6B70;
    --color-secondary: #B2CC44;
    --color-border-color: #F6CD19;
    --color-black: #000;
    --color-text: #000;
    --color-text-grey: #6C6C6C;
    --color-white: #fff;
    --color-grey: #b0e6da;
    --color-orange: #ff6348;
}