@import "slick";
@import "lity.min";
@import "header";
@import "footer";
@import "page";
@import "page-grid";
@import "page-404";
@import "page-team";
@import "page-video";
@import "other-stories";

// Sections
@import "sections/hero";
@import "sections/three-boxes-layout";
@import "sections/two-cols-layout";
@import "sections/three-cols-layout";
@import "sections/latest-news-events";
@import "sections/full-width-text";
@import "sections/our-partners";
@import "sections/success-stories";
@import "sections/about-ppfertilizer-project";
@import "sections/reports";