.section-about {
    margin-top: 40px;
    padding: 80px 0;
    .wrapper > h2 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1.3px;
        line-height: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .about-wrapper {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        @include tablet {
            flex-direction: column;
        }
        > div {
            flex: 1 1 0;
        }
        .left {
            position: relative;
            overflow: hidden;
            @include tablet {
                position: static;
                overflow: visible;
            }
            img {
                @include positionImage();
                min-height: 580px;
                @include tablet {
                    min-height: auto;
                }
            }
            .video__external,
            video {
                min-height: 300px;
                height: 100%;
                @include mobile {
                    max-width: 100%;
                }
            }
        }
    }
    ul.sub-items {
        border-top: 1px solid var(--color-secondary);
        border-bottom: 1px solid var(--color-secondary);
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
        padding: 2rem 0;
        @include small {
            gap: 1rem;
            margin: 1rem 0 0 0;
            padding: 1rem 0;
            p {
                @include lineClaim(5);
            }
        }
        
        li {
            display: flex;
            gap: 2rem;
            flex: 1 1 calc(50% - 2rem);
            > img {
                flex: 0;
            }
        }
        img {
            max-width: 60px;
            max-height: fit-content;
        }
        h3 {
            margin-bottom: 10px;
        }
    }
}