.section-our-partners {
    margin-top: 40px;
    padding: 80px 0;
    .wrapper > h2 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1.3px;
        line-height: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    ul.partners {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        li {
            border: 1px solid var(--color-brand);
            display: flex;
            align-items: center;
            padding: .5rem;
            width: calc(25% - .75rem);
            transition: .4s ease all;
            &:hover {
                box-shadow: rgba(50,50,93,.25) 0px 13px 27px -5px,rgba(0,0,0,.3) 0px .5rem 1rem -0.5rem;
            }
        }
    }
    @include mobile {
        ul.partners {
            li {
                width: calc(50% - .5rem);
            }
        }
    }
}