.section-report {
    .wrapper {
        padding: 80px 0;
        @include tablet {
            padding: 40px 0;
        }
    }
    .report {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        .item {
            background-color: var(--color-secondary);
            border-radius: 20px;
            flex: 1 1 calc(33.3333% - 1rem);
            flex-grow: 0;
            transition: .2s ease all;
            @include mobile {
                flex: 0 1 calc(50% - .5rem);
            }
            &:hover,
            &:active,
            &:focus {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px .5rem 1rem -.5rem;
                .wrap a[download] {
                    color: var(--color-brand);
                }
            }
            .media {
                background-color: var(--color-grey);
                border: 1px solid var(--color-secondary);
                border-radius: 20px 20px 0 0;
                height: 250px;
                overflow: hidden;
                @include tablet {
                    min-height: 150px;
                    max-height: 150px;
                }
                @include mobile {
                    min-height: 120px;
                    max-height: 120px;
                }
                img {
                    @include positionImage();
                    border-radius: 20px 20px 0 0;
                    height: 250px;
                    min-width: 100%;
                    @include tablet {
                        height: 150px;
                    }
                    @include mobile {
                        height: 120px;
                    }
                }
            }
            .wrap {
                padding: 1rem;
                text-align: center;
                h3 {
                    margin-bottom: 1rem;
                    span {
                        @include lineClaim(3);
                    }
                }
                a[download] {
                    color: var(--color-text-grey);
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    font-size: .875rem;
                    font-weight: 600;
                    text-decoration: none;
                    transition: .2s ease all;
                    @include mobile {
                        font-size: .75rem;
                    }
                    &:before {
                        content: '\F30A';
                        display: inline-flex;
                        font-family: 'bootstrap-icons';
                    }
                    &:hover,
                    &:after,
                    &:focus {
                        color: var(--color-brand);
                    }
                }
            }
        }
    }
}