.section-three-boxes-layout {
    padding: 70px 0;
    @include mobile {
        padding: 30px 0;
    }
    .boxes {
        display: flex;
        align-items: center;
        gap: 20px;
        @include mobile {
            flex-direction: column;
        }
        .box{
            flex: 1 1 0;
            padding: 20px;
            img {
                max-width: 75px;
                margin-bottom: 15px;
            }
            h3 {
                margin-bottom: 15px;
            }
        }
    }
}